{% extends "layout.html" %}
 {% block title %}
  Completed Task 
  {% endblock %}
  {% block body %}
<div class="table-responsive-md">
<table class="table table-striped table-hover border-primary">
    <thead>
        <tr>
            <th></th>
            <th>Task</th>
            <th>Time</th>
            <th>Check</th>
        </tr>
    </thead>
    <tbody>
    <!-- TODO: Loop through the database entries to display them in this table -->
        {% for task in tasks %}
            <tr onclick=" return myFunction('{{task.task_id}}')">
                <td>&#x25cf;</td>
                <td>{{ task.task }}</td>
                <td>{{ task.time }}</td>
                <td>
                    <input type="checkbox" name="tasks" value={{task.task_id}} 
                    id = {{task.task_id}} form="takeaction">
                </td>
            </tr>
            <script>
                function myFunction(e) {
                    a = document.getElementById(e);
                    if (a.checked){
                        a.checked = false;
                    }else{
                        a.checked = true;
                    }
                   
                }
            </script>
        {% endfor %}
    </tbody>
</table>
</div>
<form action="/completed" method="post" id = "takeaction" >
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name = "action" value = "delete" style=" margin-left: 10px; float: right;">Delete Task</button>
</form>

{% endblock %}
