{% extends "layout.html" %}
 {% block title %}
  ToDo Task 
  {% endblock %}
  {% block body %}
  <form action="/add" method="post">
    <div class="input-group mb-3">
        <input type="text" name = "task" class="form-control" placeholder="New Task" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Task</button>
        </div>
      </div>
  </form>
<table class="table table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Task</th>
            <th>Time</th>
            <th>Check</th>
        </tr>
    </thead>
    <tbody>
    <!-- TODO: Loop through the database entries to display them in this table -->
        {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.ttime }}</td>
                <td>
                    <input type="checkbox" name="tasks" value={{task.task_id}} form="takeaction">
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form action="/action" method="post" id = "takeaction" >
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name = "action" value = "delete" style=" margin-left: 10px; float: right;">Delete Task</button>


        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name = "action" value = "finished" style=" margin-left: 10px; float: right;">Finished Task</button>

</form>

{% endblock %}
