{% extends "layout.html" %}
    {% block title %}
        Trash
    {% endblock %}
{% block body %}

<div class="table-responsive-md"></div>
<table class="table table-striped table-hover border-danger">
    <thead>
        <tr>
            <th>No</th>
            <th>Task</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    <!-- TODO: Loop through the database entries to display them in this table -->
        {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<form action="/trash" method="post" id = "takeaction" >
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name = "action" value = "delete" style=" margin-left: 10px; float: right;">Delete Permanently</button>
</form>

{% endblock %}
